body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #1a1a1a;
    background-color: #e64cbf;
}


/* HEADER */

#header-brand {
    position: relative;
    background-color: #800060;
    border-radius: 0;
    border: 0;
}

/*#header-nav button {
    margin-top: 22px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fce29e;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand, .navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}*/

.navbar-brand h1 {
    color: #FF69B4;
    font-family: 'Abril Fatface', cursive;
    font-weight: bolder;
    font-size: 1.8em;
}

.navbar-brand a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #fe9797;
}

#nav-item {
    position: absolute;
    margin-top: 10px;
    width: 95%;
    background-color: #DDA0DD;
}

#nav-item a {
    font-weight: bolder;
    color: #282828;
    font-size: 1.2em;
}

#nav-item a:hover {
    color: #202020;
    background-color: #fce29e;
}

.navbar-header button.navbar-toggler {
   position: absolute;
   right:25px;
   top: 25px;
   border: 1px solid #FF69B4;
  /* background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');*/
}

/*.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
} 

.navbar-header .navbar-toggler-icon .visible-xs {
   position: absolute;
   right:25px;
   top: 25px;
   background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
} */

.navbar-header button.navbar-toggler:hover {
   color: #202020;
   background-color: #fce29e;
}

/** END HEADER */


/* HOME PAGE */

#main-content {
    width: 92%;
    margin-bottom: 40px;
}

#main-content h2 {
    font-size: 2.9em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
}

#main-content h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
}

#main-section {
    background-color: #FFC0CB;
    box-shadow: 0 0 50px #0f5900;
    padding: 30px;
}
#chicken-tile, #beef-tile, #sushi-tile {
    width: 100%;
    padding: 20px;
    background-color: #FFC0CB;
    margin-bottom: 60px;
    box-shadow: 0 0 80px #18580b;
}


/* END HOME PAGE */
